<div class="home-background">
  <div class="section" id="middle">
    <div class="container highlighted">
      <h1 class="center white-text">Set a Per Hour Rate</h1>
      <div class="row center">
        <h5 class="col s12 white-text">People enjoy contract jobs, freelance work and side projects. We're here to help.</h5>
      <a class="row center">
        <a href="/auth/linkedin" id="linkedin-button" class="btn-large waves-effect waves-light blue"><i class="fab fa-linkedin-in"></i></a><a href="/auth/linkedin" id="linkedin-button" class="btn-large waves-effect waves-light blue"><span id="linkedin-text"> Sign In with LinkedIn</span></a>
        <a href="/signup" id="download-button" class="btn-large waves-effect waves-light green">Or Sign In with Email</a>
      </div>
    </div>
  </div>
</div>



