<div class="inside">
  <div class="row">
    {{> card}}
    <div class="col s12 m12 l5" id="right">
      <div class="mini-nav center">
        <button class="btn-small black" disabled>Profile</button> 
        <a href="/profile/{{user._id}}/portfolio"><button class="btn-small red darken-3">Cancel</button></a>
        <button class="btn-small black" disabled>Skills</button>
        <button class="btn-small black" disabled>$ Rate</button>
      </div>
      <div class="center"><h5>Choose a Site</h5>
        <ul id="folio-list">
        </ul>
      </div>
      <div class="center">
        <button class="btn-small green white-text" type="button" onclick="addSiteForm()">Or Add New Site</button>
      </div>
      
      <div id="add-new-url">
        
      </div>
      <div id="add-new-site">
        
      </div>
    </div>
  </div>
</div>
