<div class="container inside-background">
  <div class="container higlighted center">
    <h2>Login</h2>
    <a href="/auth/linkedin"><img src="./images/linkedin-btn.png" alt="Sign In with LinkedIn"></a>
    <hr>
    <form action="/login" method="POST">
    <label>Email</label>
    <input type="text" name="username">
    <label>Password</label>
    <input type="text" name="password">
    <button>Login</button>
    </form>
  </div> 
</div>



{{!-- <br>
<br>
<br>
<br>
<a href="/auth/google">Log In With Google</a> --}}