<h2>Signup</h2>

<div><a href="/auth/linkedin"><img src="./images/linkedin-btn.png" alt="Sign Up with LinkedIn"></a></div> 

<hr>

<form action="/signup" method="POST">

<label>Email</label>
<input type="text" name="theUsername">


<label>Password</label>
<input type="text" name="thePassword">


<button>Sign Up</button>
</form>



{{!-- <br>
<br>
<br>
<br>
<a href="/auth/google">Sign Up With Google</a> --}}