<h3>Edit Portfolio</h3>

<form action="/portfolios/{{celebrity._id}}" method="POST">

<label>Site Name</label>
<input name="siteName" type="text" value="{{portfolio.siteName}}">

<label>Site Domain</label>
<input name="siteDomain" type="text" value="{{portfolio.siteDomain}}">

<label>Catch Phrase</label>
<input name="catchPhrase" type="text" value="{{portfolio.siteIcon}}">

<button> Save Changes </button>

</form>