

<h3>Add a New Portfolio to the Catalog via API  </h3>

<div id="big">
  <div class="new-folio-form">
    <div>
      <label>Site Name</label>
      <input id="siteName" type="text">
    </div>
    <div>
      <label>Site Domain</label>
      <input id="siteDomain" type="text">
    </div>
    <div>
      <label>Site Icon URL</label>
      <input id="siteIcon" type="text">
    </div>
      <button type="button" id="new-folio-button">Add New Portfolio</button>
  </div>
  <div>
    <ul id="folio-list">
    </ul>
  </div>
</div>

