<h3>Add a New Portfolio to the Catalog</h3>

<form action="/portfolio" method="POST">

<label>Site Name</label>
<input name="siteName" type="text">

<label>Site Domain</label>
<input name="siteDomain" type="text">

<label>Site Icon URL</label>
<input name="siteIcon" type="text">

<button> Save </button>

</form>